// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//custom color scheme
$trusty-blue: #476EAE;
$trusty-light-blue: #48B3AF;
$trusty-green: #A7E399;
$trusty-yellow: #F6FF99;
