* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  background-color: #f4f3ef;
}

.main {
  flex-grow: 1;
}
