// Specific CSS for your home-page
h1 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    color: $trusty-blue;
}

h2 {
  color: $trusty-blue

}


p {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}

.c-item{
  height: 500px;

  img {
    filter: brightness(60%);
  }
}

.navbar-logo {
  margin-left: 10px;
  width: 120px;
  // height: auto;
}

.offerservice-img {
  max-width: 500px;
  height: auto;
  display: block;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}
