// Specific CSS for your home-page
.banner-hero {
  min-height: 520px;
  background: linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.28)), image-url('bannertrusty.png') center 18%/cover no-repeat;
  display: flex;
  align-items: flex-end;
}

.banner-hero h1,
.banner-hero p {
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

@media (min-width: 992px) {
  .banner-hero {
    min-height: 520px;
    background-position: center 12%;
  }
}

h1 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    color: $trusty-blue;
}

h2 {
  color: $trusty-blue

}


p {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}

.c-item{
  height: 500px;

  img {
    filter: brightness(75%);
  }
}

.navbar-logo {
  margin-left: 0px;
  width: 73px;
  // height: auto;
}

.offerservice-img {
  max-width: 700px;
  height: auto;
  display: block;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}
