// Specific CSS for your home-page
h1 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    color: $trusty-blue;
}

p {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}

.c-item{
  height: 500px;

  img {
    filter: brightness(60%);
  }
}
