<div class="d-flex justify-content-end"><%= link_to "Regresar a lista de servicios", suppliers_dashboard_index_path, class: "m-2 btn btn-success rounded-5 shadow" %></div>
<h1 class="mt-4">Editar servicio</h1>
<%= render "form", service: @service %>
