


<div class="bg-dark text-white position-relative" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url('https://lh3.googleusercontent.com/aida-public/AB6AXuARJ-JZt3KXw9nhFzB_0-bMMBY1c1wAEXiRgbeyYTDzjOIfVtYwx46LocKQ-PXQUUP-cWVDs5-MLfi3gjAX5rDPD_DzEPBs9lfBKtBtx9iVe3kUxatblsx9rAXh-3xlr7XFdbtp9fVEf74wBWuX5c1t9rgPeFGuILssYfE4gZeziR3dvuhp-4SHm_ul7_c42O6fXMpj8DzKR9mmOO7rzFrCSUkapGM-7OFHqrzLvHuCLQNiKKlXxBgTDZGBAZBF-kAN5mic0WUD0uBq') center/cover no-repeat;">
  <div class="container text-center py-5 py-lg-7">
    <h1 class="display-4 fw-bold">Encuentra profesionales para cualquier proyecto</h1>
    <p class="lead text-white-50 mx-auto mt-3 mb-4" style="max-width: 700px;">
      Conecta con expertos en carpintería, plomería, electricidad y más. Haz realidad tus ideas con CraftConnect.
    </p>
    <div class="row justify-content-center">
      <div class="t">
        <%= form_with url: services_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control w-100",
                placeholder: "Busca servicios o profesionales"
            %>
          <%= submit_tag "Buscar", name: "", class: "btn btn-primary mx-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div></div>
