<div class="bg-dark position-relative" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('<%= asset_path("bannertrusty.png") %>') center/cover no-repeat;">
  <div class="container text-center py-5 py-lg-7">
    <h1 class="text-white display-7 pt-4">Tu App de Servicios de Confianza</h1>
    <p class="lead text-white mx-auto mt-3 mb-4" style="max-width: 700px;">
      Trusty es una plataforma que conecta usuarios con prestadores de servicios locales a través de geolocalización, ofreciendo una experiencia intuitiva y segura para ambas partes.
    </p>
    <div class="row justify-content-center">
      <div class="w-50 justify-content-center ">
        <%= form_with url: services_path, method: :get, class: "d-flex pb-5" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control w-100",
                placeholder: "Busca servicios o profesionales"
            %>
          <%= submit_tag "Buscar", name: "", class: "btn btn-primary mx-2 rounded-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
