<div>

    <div class="text-center mt-5 mb-4">
        <h2 class="fw-bold fs-1">¿Por qué elegir Trusty?</h2>
        <p class="fs-4">Trusty te conecta con profesionales de primer nivel, para todas tus necesitdades, asegurando calidiad y confinaza.</p>
    </div>

    <%# <div class="d-flex justify-content-between text-center mt-5 mb-5">

        <div class="justify-content-center m-5">
            <i class="fa-solid fa-money-bill-wave mb-3 justify-content-center text-primary fs-4"></i>
            <h4>Transparencia en precios</h4>
            <p>Ofrecemos servicios claros con precios transparentes, eliminando sorpresas y asegurando que los usuarios sepan exactamente lo que están pagando.</p>
        </div>

        <div class="justify-content-center m-5">
            <i class="fa-solid fa-star mb-3 justify-content-center text-primary fs-4"></i>
            <h4>Reseñas verificadas</h4>
            <p>Nuestra app cuenta con reseñas verificadas y confiables, sin publicidad, lo que garantiza que los usuarios puedan tomar decisiones informadas.</p>
        </div>

        <div class="justify-content-center m-5">
            <i class="fa-solid fa-user-shield mb-3 justify-content-center text-primary fs-4"></i>
            <h4>Experiencia segura</h4>
            <p>Trusty garantiza transacciones seguras y experiencias replicables en cualquier ciudad, proporcionando una capa de confianza en cada interacción.</p>
        </div> %>

    </div>

</div>
