<div class="container  m-5 mx-auto text-center">

    <div class="row" style="min-height: 400px;">
        <div class="col-6 p-5 d-flex flex-column justify-content-center align-items-center h-100">

            <h1 class="text-center">¿Quieres ofrecer servicios en Trusty?</h1>

            <p class="fs-4">Crea tu perfil y publica tus anuncios gratuitamente. Sólo te retendremos una
                pequeña comisión cuando ganes dinero.</p>
            <p class="fs-4">Miles de clientes te esperan. ¡Únete en 5 minutos!</p>

            <%= link_to "ofrecer servicios", new_user_session_path, class: "justify-content-center btn btn-primary rounded-4 mt-4" %>


        </div>

        <div class="col-6">
            <%= image_tag "servicio_drill.jpg", class: "offerservice-img img-fluid rounded-5 mt-5" %>

        </div>
    </div>



</div>
