<div class="m-5">
  <h1 class="text-center mb-4 fw-bold text-primary">Servicios</h1>
  <div class="row g-4 justify-content-center">
    <% services = [
      { title: "Hogar", image: "hogar.png" },
      { title: "Estética", image: "estetica.png" },
      { title: "Wellness", image: "wellness.png" },
      { title: "Entrenamiento", image: "entrenamiento.png" },
      { title: "Clases", image: "clases.png" },
      { title: "Cuidados", image: "cuidados.png" }
    ] %>

    <% services.each do |service| %>
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <%= link_to "#{services_path}?category=#{service[:title]}", class: "text-decoration-none d-block h-100" do %>
          <div class="category-card"> <%# RENOMBRADO: de service-card a category-card %>
            <%= image_tag service[:image], alt: service[:title], class: "category-card__image" %> <%# RENOMBRADO %>
            <div class="category-card__category"> <%# RENOMBRADO %>
              <%= service[:title] %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
