.send-btn {
  width: 40px;
  height: 40px;
  font-size: 18px;
  padding: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) grayscale(100);
  height: 15x;
  width: 15px;
  color:darkgray;
}

.carousel-control-prev,
.carousel-control-next {
  top: 40%;   /* Baja las flechas. Antes: 50% */
}
