@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

// opcional, parece que no lo usás
section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

// ---- PALETA NUEVA ----
$trusty-dark: #33383b;   // gris oscuro elegante
$trusty-accent: #3f6fb3; // tu azul (ajustalo si ya lo tenés definido)

// ---- FOOTER ----

.footer-distributed{
	background: #315fa2;         // antes: $trusty-blue
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: 400 16px 'Open Sans', sans-serif;
	padding: 55px 50px;
  margin-top: 0;
	color: #f4f6f8;                    // color de texto general
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* Logo / nombre */

.footer-distributed h3{
	color:  #ffffff;
	font: 600 32px 'Open Sans', sans-serif;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  $trusty-accent;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #c5cbd2;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #ffffff;    // ⬅ fondo blanco
	color: $trusty-dark;           // ⬅ ícono gris oscuro
	font-size: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 38px;
	margin: 10px 15px;
	vertical-align: middle;
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #f4f6f8;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  $trusty-accent; // link de email en azul Trusty
	text-decoration: none;
}

/* Separadores de links */

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #d1d6dd;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 20px;
}

/* Redes sociales */

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #ffffff;     // ⬅ fondo blanco
	border-radius: 50%;             // ⬅ redonditos

	font-size: 18px;
	color: $trusty-dark;            // ⬅ ícono gris oscuro
	text-align: center;
	line-height: 35px;

	margin-right: 6px;
	margin-bottom: 5px;
	transition: all 0.2s ease-in-out;
}

.footer-distributed .footer-icons a:hover {
  background-color: $trusty-accent;
  color: #ffffff;
}

/* RESPONSIVE */

@media (max-width: 880px) {

	.footer-distributed{
		font: 400 14px 'Open Sans', sans-serif;
		padding: 35px 20px;
		text-align: center;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
