// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";
@import "form";
@import "services_index";
@import "services_show";
@import "cards";
@import "supplier_dashboard";
@import "dashboard";
@import "review_form";
@import "button";
@import "input";
@import "background";
@import "chat-button";
@import "chats";
@import "human_chats";
