.input-chat {
  border-radius: 1rem;
  resize: none;
}

.form-control {
  border-radius: 7px;
}

@media (max-width: 576px) {
  .send-btn {
    width: 36px;
    height: 36px;
    font-size: 14px;
  }
}
