.navbar-lewagon {
  justify-content: space-between;
  background: #f4f3ef;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.navbar .dropdown-menu {
  z-index: 2000; /* > 1020 (sticky) */
}
